html {
  font-size: 62.5%;
  /*font-size: 50%;*/
}

body {
  background-image: url("../img/drift_2_crop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: grey;
}

h1 {
  margin: 0;
}

/*navbar styling*/
.navbar {
  background-color: #42465e;
  width: 100%;
  top: 0;
  height: 80px;
  font-family: 'Lato', sans-serif;
  transition: 0.3s;
}

.nav-items-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-header, .title .navbar-brand {
  background-color: #42465e;
}

.title a {
  text-transform: uppercase;
  color: mintcream;
  font-size: 3rem;
  font-weight: 700;
  padding-left: 18px;
  letter-spacing: 3px;
}

.title a:hover,
.title a:focus {
  text-decoration: none;
  }

.title a span {
  font-size: 2.5rem;
  font-weight: 700;
}

#nav-list a {
  color: #9d9d9d;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 15px 10px;
  margin: 0 4px;
  border-radius: 3px;
  transition: 300ms;
}

#nav-list a:hover {
  color: mintcream;
}

#nav-list>.active>a,
#nav-list>.active>a:focus,
#nav-list>.active>a:hover{
  background-color: #42465e;
  color: mintcream;
}

.navbar-toggle {
  background-color: #42465e;
}

.navbar-inverse .navbar-collapse .collapse {
  background-color: #42465e;
}

#navbar-open {
  position: absolute;
  left: 30px;
  font-size: 2.5rem;
  color: mintcream;
}

.collapsed-navbar {
  position: fixed;
  height: 100vh;
  width: 0;
  z-index: 1030;
  top: 0;
  left: 0;
  background-color: #42465e;
  color: mintcream;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transition: 0.3s;
}

.collapsed-list {
  margin: 50px 0;
  list-style-type: none;
}

.collapsed-list li {
  margin-top: 5px;
}

.collapsed-list a {
  color: mintcream;
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
}

#navbar-close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 2.5rem;
  padding-left: 10px;
}

@media (min-width: 900px) {
  #navbar-open {
    display: none;
  }
}

/*Home styling*/
.header-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-container {
  height: 20%;
}

#header-row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-row-mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3rem;
}

#header-row-mobile h1 {
  font-size: 3rem;
}

.header h1 {
  font-size: 3.6rem;
}

.down-button {
  margin-top: 20px;
}

.fa-arrow-circle-down {
  font-size: 4rem;
  color: #e6475c;
}

.flash {
  animation-iteration-count: infinite;
  animation-duration: 7.5s;
  animation-timing-function: cubic-bezier(0.45, 0.1, 0.31, 0.88);
}


/*About section*/
#about img {
  border-radius: 5px;
}

.continent {
  margin-left: 15px;
  font-weight: bold;
}

.flag-icon {
  font-size: 2.0rem;
  margin: 0 25px 0 35px;
}

/*Gallery section*/
.photo-col {
  margin: 10px 0;
  padding: 0;
}

#photos img {
  border: 1px solid #575556;
  width: 80%;
  margin: 0 auto;
}

/*Modal styling*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  width: 80%;
  cursor: pointer;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}


/*Shows & Meets section*/
#follow {
  font-family: 'Lato', sans-serif;
  font-size: 1.65rem;
  letter-spacing: 1.15px;
  color: #e6475c;
}

.event {
  margin-top: 5px;
}

.fa-map-marker-alt {
  padding-right: 2px;
  color: #e6475c;
}


/*Contact section*/
.fab {
  font-size: 4.0rem;
  margin-right: 10px;
}

.submit-btn {
  font-weight: bold;
  color: #e6475c;
  border: 2px solid #e6475c;
  background-color: mintcream;
  transition: 0.3s;
}

.submit-btn:hover {
  color: mintcream;
  background-color: #e6475c;
}

/*#contact .container {
  margin-bottom: 270px;
}*/


/*Footer styling*/
footer {
  width: 100%;
  height: 110px;
  background-color: #42465e;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

footer h4 {
  color: mintcream;
}

footer a {
  color: #e6475c;
  transition: 300ms;
}

footer a:hover {
  color: mintcream;
}

footer a:active {
  color: #e6475c;
  text-decoration: none;
}


/*Common elements*/
.section-anchor {
  height: 10px;
  position: relative;
  top: 150px;
  background-color: mintcream;
}

.section-header {
  border-bottom: 2px solid;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.anchor {
  min-height: 100vh;
  padding-top: 80px;
}

.container {
  width: 70vw;
  position: relative;
  top: 20px;
  text-align: center;
  color: #42465e;
  background-color: #f5fffac7;
  border: 1.5px solid #575556;
  border-radius: 5px;
}

.section-container {
  min-height: 80vh;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Mina', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.75rem;
  letter-spacing: 0.65px;
}

.justified {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb5 {
  margin-bottom: 50px;
}


/*media queries*/
@media (max-width: 900px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }

  html {
    font-size: 55%;
  }

}

@media (max-width: 700px) {
  .modal-content {
      width: 100%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .header h1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {

  body {
    /*background-image: none;*/
    background-color: #e7f4fb;
    background-position: -460px 0px;
  }

  #header-container {
    /*background-color: #e7f4fb;*/
    /*border: none;*/
  }

  #header-row {
    display: none;
  }

  #header-row-mobile {
    display: flex;
  }
}

@media (max-width: 500px) {
  .container {
    width: 80vw;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }
}
